canvas:hover
{
	cursor: none;
}

#death
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.hidden
{
	display: none;
}

#escape
{
	text-align: center;
	margin-left: 160px;
	width: 200px;
	height: 50px;
}

#output
{
	position: absolute;
	right: 170px;
	top: 20px;
	width: 260px;
}

body{
  background-color:rgba(0,0,0,1.00);
  overflow: none;
}

.items
{
	height: 30px;
	width:  30px;
}


#container{
	width: 1100px;
	height: 700px;
	margin: 0 auto;
	font-family: 'Inconsolata',;
	/*--font-family: 'Shadows Into Light', cursive;--*/
	background: repeating-linear-gradient(
				-55deg,
				#222,
				#222 10px,
				#333 10px,
				#333 20px);
	border: thick solid #FFF;
}

header {
    color:white;
    text-align:center;
    padding:20px;
	font-size:3em;
	height: 40px;
}
nav {
    line-height:30px;
    height:607px;
    width:275px;
    float:left;
	color: #FFFFFF;
}

#navRight {
	margin-right: 70px;
    line-height:30px;
    height:607px;
    width:110px;
    float:right;
	padding-left: 15px;
	color:rgba(239,233,233,1.00);
}
section 
{
	margin-left: 50px;
    width:500px;
    float:left;
	background-color:black;
}

#controls{
  padding-left: 25px;
}

footer{
	color:white;
    text-align:center;
	font-size:1.5em;
	height: 50px;
	width: 1200px;
	margin-top: 20px;
}

/*--Button--*/

/* 
*******************************************************************************/
.mybutton{
  border:1px solid #a8c1d5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
   background-color: #CEDCE7; background-image: -webkit-gradient(linear, left top, left bottom, from(#CEDCE7), to(#596a72));
   background-image: -webkit-linear-gradient(top, #CEDCE7, #596a72);
   background-image: -moz-linear-gradient(top, #CEDCE7, #596a72);
   background-image: -ms-linear-gradient(top, #CEDCE7, #596a72);
   background-image: -o-linear-gradient(top, #CEDCE7, #596a72);
   background-image: linear-gradient(to bottom, #CEDCE7, #596a72);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CEDCE7, endColorstr=#596a72);
}

.mybutton:hover{
   border:1px solid #8aabc5;
   background-color: #acc4d6; background-image: -webkit-gradient(linear, left top, left bottom, from(#acc4d6), to(#434f55));
   background-image: -webkit-linear-gradient(top, #acc4d6, #434f55);
   background-image: -moz-linear-gradient(top, #acc4d6, #434f55);
   background-image: -ms-linear-gradient(top, #acc4d6, #434f55);
   background-image: -o-linear-gradient(top, #acc4d6, #434f55);
   background-image: linear-gradient(to bottom, #acc4d6, #434f55);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#acc4d6, endColorstr=#434f55);
}